name: Continuous Deployment

on:
  release:
    types: [ published ]

permissions:
  contents: read
  actions: read

jobs:
  docker-image-deployment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Set configuration and credential files
        run: |
          echo "$SECRET_YML_CONTENT" > ./src/main/resources/secret.yml
        env:
          SECRET_YML_CONTENT: ${{ secrets.SECRET_YML }}

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew
        shell: bash

      - name: Build with Gradle
        run: ./gradlew bootJar
        shell: bash

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build, tag, and push Container
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          platforms: linux/amd64
          tags: |
            namsh1125/test:${{ github.event.release.tag_name }}
            namsh1125/test:latest

      - name: Deploy
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.EC2_HOST_IP }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.EC2_KEY_PAIR }}

          script: |
            sudo docker stop server
            sudo docker rm server
            sudo docker rmi namsh1125/test
            sudo docker run --name server -dp 8080:8080 namsh1125/test